@import "~bootstrap/dist/css/bootstrap.css";

/* common- module css */
html,body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, center, ul, li, fieldset, form, label, footer, header{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
body{font-family: 'Montserrat', sans-serif; background: #f1efef; font-size: 13px;}
a:hover,a:focus{text-decoration: none;}
a,input,button{outline: 0;}
.site-content{display: inline-block; width: 100%;  padding: 80px 0 40px 0;}


/* Header */
.main-header{display: inline-block; width: 100%; position: fixed; z-index: 99;}
.top-bar{display: inline-block; width: 100%; background: #bbd9eb;}
.top-bar-left{float: left; width:132px; height:45px;}
.top-bar-right{float: right; margin:10px 0 0 0;}
.top-bar-right a{color: #101010; margin:0 10px 0;}
/* Header */

.grid-box{display: inline-block; width: 100%; background: #ffffff; }
.grid-inner{display: inline-block; width: 100%; padding:15px }
.grid-inner .form-row .row {display: contents;}
.grid-heading{display: inline-block; width: 100%;  position: relative; padding:10px 15px;}
.grid-heading h3{color:#535a68; font-size: 15px; font-weight: bold; display: inline-block;}
.table{margin: 0 0 0 0;  width: 99.99%;}
.table th,.table td{word-wrap: break-word;}
.table th{vertical-align: top !important;}
.table-col{padding-right: 15px !important;}
table{background: #fff; width:100% !important;}
table th{background: #0085af; font-size: 0.8rem; color:#fff;    font-weight: 600; text-transform: capitalize;}
.table-action-btn{padding:5px 14px; background: #616161; border-radius: 6px; display: inline-block;}
table tr:nth-child(2n+2){background: #f1f1f1;}
.table-action-btn {color: #fff;margin: 2px;}
.view-ico{background: #616161;}
  .view-ico:hover, .view-ico:focus {
    background: #fff;
  }
.edit-ico{background: #0085af; margin-top: 37px;}
.edit-ico:hover, .edit-ico:focus {background: #007194;}
table.table-stripped tr td{background: #fff; position: relative}
table.table-stripped tr:nth-child(2n) td{background: #f1f1f1 !important;}
label{display: inline-block; position:relative; width: 100%; color:#505050; font-weight: 500; font-size: 0.9rem; margin:0 0 5px 0;}
.form-row .col-md-12{min-height: 75px !important; }
.form-row .min-ht-sf div[class^="col-"]{min-height: 75px;}
.form-row .min-ht-st div[class^="col-"]{min-height: 60px !important;}
.form-row .min-ht-tt div[class^="col-"]{min-height: 30px !important;}
.form-row .btn{margin-bottom:15px;}
.form-control {border-color: #d2d2d2;border-radius: 0;border-width: 0 0 1px;height: 45px;box-shadow:  0 0 0 0;padding-left: 5px;font-size: 12px;}




/* Footer */
footer{display: inline-block; position: fixed; bottom: 0; left: 0; width: 100%; background: #1a2942; padding:13px 0; text-align: center; }
footer p{color:#fff;}
/* Footer */